* {
    margin: 0;
}

.container {
    width: 50vw;
    text-align: center;
    margin: auto;
}

.fancy_button {
    background-color: white;
    color: black;

    padding: 8px 16px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.fancy_black_button {
    background-color: black;
    color: white
}

body {
    background-color: black;
    color: white;
    font-family: "DM sans", sans-serif;
}

header {
    background-image: url("Assets/image-header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    padding: 128px;

    a {
        text-decoration: none;
        color: white;
    }

    #hero {
        width: 37vw;
        margin: auto;
        text-align: left;


        h1 {
            span {
                font-size: 53px;
                text-transform: uppercase;
            }

            font-size: 160px;
            text-transform: capitalize;
            line-height: 75%;
            margin-bottom: 32px;
            font-weight: 300;
        }

        h2 {
            margin-bottom: 32px;
        }
    }

    nav {
        ul {
            float: right;
            list-style-type: none;
        }

        li {
            display: inline-block;
            margin: 0 16px;

            a {
                font-size: 110%;
                text-transform: uppercase;

            }
        }
    }
}

#empty_section {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

#sponsors {
    background-image: url("Assets/banniere-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    text-align: center;

    div {
        vertical-align: middle;
        margin: 0px auto;
    }
}
