body {
    color: white;
    background-color: black;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-image: url("Assets/image-header.png");
}

#sponsors {
    background-image: url("Assets/banniere-logo.png");
}
